a.list-group-item {
  width: 100%;
  padding-left: 33px;
}
.list-group-item {
  a {
    display: inline-flex;
    word-break: break-all;
    text-decoration: none;
    color: $text-color;
    .glyphicon-plus::before {
      content: "\2212";
    }
    &.collapsed {
      .glyphicon-plus::before {
        content: "+";
      }
    }
  }
  &.active > a {
    color: #fff;
  }
}

input[type="file"] {
  &.form-control {
    height: auto;
  }
}