.container {
  padding: 20px 0;
}

table {
  border: 1px black solid;
  border-collapse: collapse;
  td {
    border: 1px black solid;
    padding: 0 10px;
    vertical-align: top;
    font-size: 12px;
  }
  thead{
    background: #8d8d8d;
    line-height: 1px;
    border: 3px black solid;
    td {
      font-size: 26px;
    }
  }
}

.header {
  background-color: rgb(150, 197, 63);
  padding: 10px;
  height: 15px;
  width: 100%;
  margin-bottom: 5px;
  display: table;
  td{
    text-align: center;
    font-size: 22px;
    line-height: 1px;
    border: 3px black solid;
  }
}

.footer {
  background-color: rgb(150, 197, 63);
  padding: 10px;
  width: 100%;
  display: table;
  table {
    width: 100%;
    border: 0;
  }
  td {
    border: 0;
    padding: 0 5px;
  }
}

.content-area {
  text-align: center;
  font-family: Calibri, sans-serif;

  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: underline;
  }
  .content {
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    .row {
      margin: 0 auto;
      display: table;
      .box {
        width: 50%;
        float: left;
        display: table-cell;
        .name {
          padding-bottom: 20px;
        }
        .signature {
          padding-bottom: 20px;
        }
      }
    }
    .date {
      text-decoration: underline;
    }
  }
}
.page-break {
  page-break-before: always;
}

.organigramm {
  display: table;
  margin: 0 auto;
  width: 1020px;
  font-family: Calibri, sans-serif;
  font-size: 13px;
  .container {
    display: table;
    margin: 0 auto;
    .row {
      width: 100%;
      float: none;
      display: table;
      margin-left: -10px;
      margin-right: -10px;
      .box {
        min-height: 20px;
        float: left;
        padding: 10px;
        margin: 10px;
        word-wrap: break-word;
        &.h250 {
          height: 250px;
        }
        &.h200 {
          height: 200px;
        }
        &.h150 {
          height: 150px;
        }
        &.h100 {
          height: 100px;
        }
        &.h70 {
          height: 70px;
        }
        &.h50 {
          height: 50px;
        }
        &.w10 {
          width: 10%;
        }
        &.w11 {
          width: 11%;
        }
        &.w12 {
          width: 12%;
        }
        &.w15 {
          width: 15%;
        }
        &.w20 {
          width: 20%;
        }
        &.w25 {
          width: 25%;
        }
        &.w30 {
          width: 30%;
        }
        &.w33 {
          width: 33%;
        }
        &.w47 {
          width: 47%;
        }
        &.text-center {
          text-align: center;
        }
        &.border {
          border: solid 1px #000000;
        }
        .doc-name {
          font-size: 24px;
        }
        .header {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
.QMHandbuch {
  display: table;
  margin: 0 auto;
  width: 1020px;
  font-family: Calibri, sans-serif;
  font-size: 15px;
  font-weight: 400;
  .container {
    .row {
      width: 100%;
      float: none;
      display: table;
      margin-left: -15px;
      margin-right: -15px;
      .box {
        .doc-name {
          font-size: 36px
        }
        .practice-name {
          font-size: 30px
        }
        min-height: 20px;
        float: left;
        padding: 15px;
        word-wrap: break-word;
        &.h250 {
          height: 250px;
        }
        &.h200 {
          height: 200px;
        }
        &.h150 {
          height: 150px;
        }
        &.h100 {
          height: 100px;
        }
        &.h70 {
          height: 70px;
        }
        &.h50 {
          height: 50px;
        }
        &.w10 {
          width: 10%;
        }
        &.w11 {
          width: 11%;
        }
        &.w12 {
          width: 12%;
        }
        &.w15 {
          width: 15%;
        }
        &.w20 {
          width: 20%;
        }
        &.w25 {
          width: 25%;
        }
        &.w30 {
          width: 30%;
        }
        &.w33 {
          width: 33%;
        }
        &.w47 {
          width: 47%;
        }
        &.w100 {
          width: 100%;
        }
        &.text-center {
          text-align: center;
        }
        &.border {
          border: solid 1px #000000;
        }
        &.align-right{
          text-align: right;
        }

        .header {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
